<!DOCTYPE html>
<html>
    <head>
        <title> Learn a Language! </title>
        <link rel = "icon" href = "https://img.icons8.com/?size=1x&id=2963&format=png">
        <link rel = "stylesheet" href = "/static/index.css">
    </head>
    
    <body>
        <h1> {{topic}} </h1>
        
        <a href = "{{back}}"> Return </a> <br><br>
        
        <a href = "{{page}}/to"> {{language}} to English Quiz </a> <br><br>
        <a href = "{{page}}/from"> English to {{language}} Quiz </a> <br><br>
        
        <table>
            <tr>
                <th> {{language}} </th>
                <th> English </th>
            </tr>
            
            {% for entry in dictionary %}
            <tr>
                <td> {{entry[0]}} </td>
                <td> {{entry[1]}} </td>
            </tr>
            {% endfor %}
        </table>
        
        <script src = "/static/index.js"></script>
    </body>
</html>